
<div class="prototype" style="padding: 2em;">
<div style="width: 75em;">

  <div style="float: left; width: 5em;">
    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
        <span class="fa fa-check"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
        <span class="fa fa-exclamation"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
        <span class="fa fa-star"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red mm-badge-raise">
        <span class="fa fa-warning"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
        <span class="fa fa-check"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red mm-badge-raise">
        <span class="fa fa-times"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
        <span class="fa"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
        <span class="fa"></span>
      </span>
    </div>
  </div>

  <div style="font-size: 1.5em; float: left; width: 4em;">
    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-green">
        <span class="fa fa-check"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-red">
        <span class="fa fa-exclamation"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-green">
        <span class="fa fa-star"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-red mm-badge-raise">
        <span class="fa fa-warning"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-green">
        <span class="fa fa-check"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-red mm-badge-raise">
        <span class="fa fa-times"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-green">
        <span class="fa"></span>
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-round mm-badge-red">
        <span class="fa"></span>
      </span>
    </div>
  </div>

  <div style="font-size: 0.7em; float: left; width: 10em;">
    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        1
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        5
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        84
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        405
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        2,048
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        1,048,576
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        4,294,967,295
      </span>
    </div>
  </div>

  <div style="float: left; width: 10em;">
    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        1
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        5
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        84
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        405
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        2,048
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        1,048,576
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        4,294,967,295
      </span>
    </div>
  </div>

  <div style="font-weight: bold; font-size: 1.3em; float: left; width: 12em;">
    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        1
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        5
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        84
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        405
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        2,048
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        1,048,576
      </span>
    </div>

    <div class="mm-badge-container">
      <span class="mm-badge mm-badge-red mm-badge-border">
        4,294,967,295
      </span>
    </div>
  </div>

  <div style="float: left;">

    <div class="dropdown">
      <div id="d1" class="mm-button-container" data-toggle="dropdown">
        <div class="mm-button mm-button-nudge">
          <div class="mm-button-icon">
            <span class="fa fa-list-alt"></span>
          </div>
          <div class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="mm-button-text">
            Antenatal Care Report
          </div>
        </div>
      </div>

      <ul role="menu" aria-labelledby="d1"
        class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Prenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Antenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Disease Surveillance</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Stock Monitoring</a>
        </li>
      </ul>
    </div>

    <div class="mm-button-container">
      <div class="mm-button mm-button-disabled">
        <div class="mm-button-icon">
          <span class="fa fa-calendar"></span>
        </div>
        <div class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <div class="mm-button-text">
          May 1<sup>st</sup> &mdash; May 28<sup>th</sup>, 2014
        </div>
      </div>
    </div>

    <div class="mm-button-container">
      <div class="mm-button mm-button-disabled">
        <div class="mm-button-icon">
          <span class="fa fa-medkit"></span>
        </div>
        <div class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <span class="mm-button-text">
          August 1<sup>st</sup> &mdash; September 29<sup>th</sup>, 2014
        </span>
      </div>
    </div>

    <div class="mm-button-container">
      <div class="mm-button mm-button-disabled mm-button-nudge">
        <div class="mm-button-icon">
          <span class="fa fa-navicon"></span>
        </div>
        <div class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <span class="mm-button-text">
          Patient Registration Form
        </span>
      </div>
    </div>

    <div class="mm-button-container">
      <div class="mm-button mm-button-disabled">
        <div class="mm-button-icon">
          <span class="fa fa-home"></span>
        </div>
        <div class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <span class="mm-button-text">
          Ganze Health Clinic
        </span>
      </div>
    </div>
  </div>

  <div class="clear" style="padding: 2em 0;">
  </div>

  <div class="mm-icon-container" style="float: left; font-size: 2.65em;">
    <div class="mm-icon">
      <span class="mm-icon-overlay mm-icon-overlay-before fa fa-mail-forward"></span>
      <span class="fa fa-envelope"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-calendar"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-th-list"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-hospital-o"></span>
      <span class="mm-icon-overlay fa fa-exclamation-circle"></span>
    </div>
  </div>

  <div class="mm-icon-container mm-inverse-box" style="float: left; font-size: 2.65em;">
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-envelope"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-calendar"></span>
      <span class="mm-icon-overlay fa fa-mail-forward"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-th-list"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="mm-icon-overlay mm-icon-overlay-before fa fa-exclamation-circle"></span>
      <span class="fa fa-hospital-o"></span>
    </div>
  </div>

  <div class="float-separator"></div>

  <div class="mm-icon-container" style="float: left; font-size: 2.65em;">
    <div class="mm-icon">
      <span class="fa fa-list-alt"></span>
      <span class="mm-icon-overlay mm-icon-overlay-nudge fa fa-mail-reply"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-list-ul"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-edit"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-check-circle"></span>
    </div>
  </div>

  <div class="mm-icon-container mm-inverse-box" style="float: left; font-size: 2.65em;">
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-list-alt"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-list-ul"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="mm-icon-overlay mm-icon-overlay-before mm-icon-overlay-nudge
                   mm-icon-overlay-nudge-right fa fa-check-circle-o"></span>
      <span class="fa fa-edit"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-check-circle"></span>
    </div>
  </div>

  <div class="float-separator"></div>
  <div class="mm-icon-container" style="float: left; font-size: 1.5em;">
    <div class="mm-icon">
      <span class="fa fa-envelope"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-calendar"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-th-list"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-hospital-o"></span>
    </div>
  </div>

  <div class="mm-icon-container mm-inverse-box" style="float: left; font-size: 1.5em;">
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-envelope"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-calendar"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-th-list"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="mm-icon-overlay mm-icon-overlay-before
                   mm-icon-overlay-nudge-right fa fa-exclamation-circle"></span>
      <span class="fa fa-hospital-o"></span>
    </div>
  </div>

  <div class="float-separator"></div>

  <div class="mm-icon-container" style="float: left;">
    <div class="mm-icon">
      <span class="fa fa-list-alt"></span>
    </div>
    <div class="mm-icon">
      <span class="mm-icon-overlay mm-icon-overlay-before fa fa-mail-forward"></span>
      <span class="fa fa-list-ul"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-edit"></span>
    </div>
    <div class="mm-icon">
      <span class="fa fa-check-circle"></span>
    </div>
  </div>

  <div class="mm-icon-container mm-inverse-box" style="float: left;">
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-list-alt"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-list-ul"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-edit"></span>
    </div>
    <div class="mm-icon mm-icon-inverse">
      <span class="fa fa-check-circle"></span>
    </div>
  </div>

  <div class="float-separator" style="width: 6em;"></div>

  <div class="mm-inverse-box" style="float: left; padding: 1em;">

    <div class="dropdown">
      <div id="d2" class="mm-button-container" data-toggle="dropdown">
        <div class="mm-button mm-button-inverse mm-button-nudge">
          <div class="mm-button-icon">
            <span class="fa fa-list-alt"></span>
          </div>
          <div class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="mm-button-text">
            Antenatal Care Report
          </div>
        </div>
      </div>

      <ul role="menu" aria-labelledby="d2" class="dropdown-menu mm-dropdown-menu">

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Prenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Antenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Disease Surveillance</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Stock Monitoring</a>
        </li>
      </ul>
    </div>

    <div class="mm-button-container">
      <div class="mm-button mm-button-inverse mm-button-disabled">
        <div class="mm-button-icon">
          <span class="fa fa-calendar"></span>
        </div>
        <div class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <div class="mm-button-text">
          May 1<sup>st</sup> &mdash; May 28<sup>th</sup>, 2014
        </div>
      </div>
    </div>

    <div class="mm-button-container">
      <div class="mm-button mm-button-inverse mm-button-disabled">
        <div class="mm-button-icon">
          <span class="fa fa-medkit"></span>
        </div>
        <div class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <span class="mm-button-text">
          August 1<sup>st</sup> &mdash; September 29<sup>th</sup>, 2014
        </span>
      </div>
    </div>

    <div class="mm-button-container">
      <div class="mm-button mm-button-inverse mm-button-disabled mm-button-nudge">
        <div class="mm-button-icon">
          <span class="fa fa-navicon"></span>
        </div>
        <div class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <span class="mm-button-text">
          Patient Registration Form
        </span>
      </div>
    </div>

    <div class="mm-button-container">
      <div class="mm-button mm-button-inverse mm-button-disabled">
        <div class="mm-button-icon">
          <span class="fa fa-home"></span>
        </div>
        <div class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <span class="mm-button-text">
          Ganze Health Clinic
        </span>
      </div>
    </div>
  </div>

</div>
</div>

<script language="javascript">
  jQuery(function ($) {
    $('#d1').dropdown();
    $('#d2').dropdown();
  });
</script>

<!-- vim: set sw=2: -->
