
<div class="app" style="padding: 2em;">

  <div style="float: left; width: 5em;">
    <div class="icon-container">
      <span class="icon icon-round icon-border icon-green">
        <span class="fa fa-check"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-border icon-red">
        <span class="fa fa-exclamation"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-border icon-green">
        <span class="fa fa-star"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-border icon-red icon-raise">
        <span class="fa fa-warning"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-border icon-green">
        <span class="fa fa-check"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-border icon-red icon-raise">
        <span class="fa fa-times"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-border icon-green">
        <span class="fa"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-border icon-red">
        <span class="fa"></span>
      </span>
    </div>
  </div>

  <div style="font-size: 1.5em; float: left; width: 4em;">
    <div class="icon-container">
      <span class="icon icon-round icon-green">
        <span class="fa fa-check"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-red">
        <span class="fa fa-exclamation"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-green">
        <span class="fa fa-star"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-red icon-raise">
        <span class="fa fa-warning"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-green">
        <span class="fa fa-check"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-red icon-raise">
        <span class="fa fa-times"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-green">
        <span class="fa"></span>
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-round icon-red">
        <span class="fa"></span>
      </span>
    </div>
  </div>

  <div style="font-size: 0.7em; float: left; width: 10em;">
    <div class="icon-container">
      <span class="icon icon-red icon-border">
        1
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        5
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        84
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        405
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        2,048
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        1,048,576
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        4,294,967,295
      </span>
    </div>
  </div>

  <div style="float: left; width: 10em;">
    <div class="icon-container">
      <span class="icon icon-red icon-border">
        1
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        5
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        84
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        405
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        2,048
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        1,048,576
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        4,294,967,295
      </span>
    </div>
  </div>

  <div style="font-weight: bold; font-size: 1.3em; float: left; width: 12em;">
    <div class="icon-container">
      <span class="icon icon-red icon-border">
        1
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        5
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        84
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        405
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        2,048
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        1,048,576
      </span>
    </div>

    <div class="icon-container">
      <span class="icon icon-red icon-border">
        4,294,967,295
      </span>
    </div>
  </div>

  <div style="float: left;">
    <div class="button-container">
      <div class="button">
        <div class="button-icon">
          <span class="fa fa-calendar"></span>
        </div>
        <div class="button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <div class="button-text">
          May 1<sup>st</sup> &mdash; May 28<sup>th</sup>, 2014
        </div>
      </div>
    </div>

    <div class="button-container">
      <div class="button button-lower">
        <div class="button-icon">
          <span class="fa fa-list-alt"></span>
        </div>
        <div class="button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <div class="button-text">
          Antenatal Care Report
        </div>
      </div>
    </div>

    <div class="button-container">
      <div class="button">
        <div class="button-icon">
          <span class="fa fa-medkit"></span>
        </div>
        <div class="button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <span class="button-text">
          August 1<sup>st</sup> &mdash; September 29<sup>th</sup>, 2014
        </span>
      </div>
    </div>

    <div class="button-container">
      <div class="button button-lower">
        <div class="button-icon">
          <span class="fa fa-navicon"></span>
        </div>
        <div class="button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <span class="button-text">
          Patient Registration Form
        </span>
      </div>
    </div>

    <div class="button-container">
      <div class="button">
        <div class="button-icon">
          <span class="fa fa-home"></span>
        </div>
        <div class="button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </div>
        <span class="button-text">
          Ganze Health Clinic
        </span>
      </div>
    </div>
  </div>

</div>

<!-- vim: set sw=2: -->
