<div class="container">
  <div class="row header">

    <div class="logo">
      <img alt="Medic" style="height: 4em;"
        src="/images/medic-logo-light.svg" />
    </div>

    <div class="welcome">
      <div class="title">
        <!-- INBOX -->
      </div>
      <div class="user">
        <!-- Welcome, Person -->
      </div>
    </div>

    <div class="extras">
      <a href="#">
        <div class="mm-icon mm-icon-inverse">
          <span class="fa fa-edit"></span>
        </div>
      </a>
      <a href="#">
        <div class="mm-icon mm-icon-inverse">
          <span class="fa fa-search"></span>
        </div>
      </a>
    </div>

    <div class="tabs">
      <a href="#">
        <div class="mm-icon mm-icon-inverse">
          <span class="fa fa-envelope"></span>
        </div>
      </a>
      <a href="#" class="selected">
        <div class="mm-icon mm-icon-nudge-down">
          <span class="fa fa-list-alt"></span>
        </div>
      </a>
      <a href="#">
        <div class="mm-icon mm-icon-inverse">
          <span class="fa fa-asterisk"></span>
        </div>
      </a>
    </div>
  </div>

  <div class="row filters">
    <div class="dropdown">
      <div id="form_type" class="mm-button-container" data-toggle="dropdown">
        <div class="mm-button mm-button-bold mm-button-nudge">
          <div class="mm-button-icon">
            <span class="fa fa-list-alt"></span>
          </div>
          <div class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="mm-button-text">
            Antenatal Care Report
          </div>
        </div>
      </div>
      <ul role="menu" aria-labelledby="report"
        class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Prenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Antenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Disease Surveillance</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Stock Monitoring</a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <div id="facility" class="mm-button-container" data-toggle="dropdown">
        <div class="mm-button mm-button-bold">
          <div class="mm-button-icon">
            <span class="fa fa-home"></span>
          </div>
          <div class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="mm-button-text">
            Ganze Health Clinic
          </div>
        </div>
      </div>
      <ul role="menu" aria-labelledby="facility"
        class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Chicago General Hospital</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Ganze Health Clinic</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Portland Intensive Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Toronto Urgent Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Zanzibar Health Post</a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <div id="date" class="mm-button-container" data-toggle="dropdown">
        <div class="mm-button mm-button-bold">
          <div class="mm-button-icon">
            <span class="fa fa-calendar"></span>
          </div>
          <div class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="mm-button-text">
            February 2<sup>nd</sup>, 2014
          </div>
        </div>
      </div>
      <ul role="menu" aria-labelledby="date"
        class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Calendar-based</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Date Selector</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Should Probably</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Go Here</a>
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <div id="status" class="mm-button-container" data-toggle="dropdown">
        <div class="mm-button mm-button-bold">
          <div class="mm-button-icon">
            <span class="fa fa-check-circle-o"></span>
          </div>
          <div class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </div>
          <div class="mm-button-text">
            Valid Only
          </div>
        </div>
      </div>
      <ul role="menu" aria-labelledby="status"
        class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Any</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Valid</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Invalid</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row content">
    <div class="col-sm-4 inbox-items">
      <ul>
        <li>
          <span class="time">1:12pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa fa-check"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>New patient</div>
          </div>
        </li>
        <li class="selected">
          <span class="time">3:55pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
              <span class="fa fa-exclamation"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Birth Outcome Report</div>
          </div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Rivers, Joan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Monthly Report</div>
          </div>
        </li>
        <li>
          <span class="time">1:12pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa fa-check"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>New patient</div>
          </div>
        </li>
        <li>
          <span class="time">3:55pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
              <span class="fa fa-exclamation"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Birth Outcome Report</div>
          </div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Rivers, Joan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Monthly Report</div>
          </div>
        </li>
        <li>
          <span class="time">1:12pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa fa-check"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>New patient</div>
          </div>
        </li>
        <li>
          <span class="time">3:55pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
              <span class="fa fa-exclamation"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Birth Outcome Report</div>
          </div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Rivers, Joan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Monthly Report</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-sm-8 item-content incomplete">
      <div class="meta">
        <span class="time">12 March 2014</span>
        <div class="sender">
          <div class="name">Smith, Susan</div>
          <div class="position">Clinician, Ganze Clinic</div>
        </div>
      </div>
      <div class="mm-badge-container">
        <span class="mm-badge mm-badge-round mm-badge-red">
          <span class="fa fa-exclamation"></span>
        </span>
      </div>
      <div class="body">
        <h2>Birth Outcome Report</h2>
        <ul>
          <li>
            <label>Patient ID</label>
            <p>548912254</p>
          </li>
          <li>
            <label>Days Since Delivery</label>
            <p>5</p>
          </li>
          <li class="missing">
            <label>Outcome Of Baby</label>
          </li>
        </ul>
      </div>
      <div class="actions">
        <a href="#">Reply</a>
        <a href="#">Edit</a>
        <a href="#">Verify</a>
      </div>
    </div>
  </div>
</div>
