<div class="container-fluid">
  <div class="row header">
    <div class="inner">

      <a href="">
        <div class="logo">
          <img alt="Medic" src="/images/medic-logo-light.svg" />
        </div>
      </a>

      <div class="welcome">
        <div class="title">
          <!-- INBOX -->
        </div>
        <div class="user">
          <!-- Welcome, Human -->
        </div>
      </div>

      <div class="extras">
        <a href="#">
          <div class="mm-icon mm-icon-inverse">
            <span class="fa fa-edit"></span>
          </div>
        </a>
        <a href="#">
          <div class="mm-icon mm-icon-inverse">
            <span class="fa fa-search"></span>
          </div>
        </a>
      </div>

      <div class="tabs">
        <a href="#">
          <span class="mm-icon mm-icon-inverse">
            <span class="fa fa-envelope"></span>
            <span class="mm-badge-overlay mm-badge-overlay-top">
              <span class="mm-badge mm-badge-red mm-badge-border">405</span>
            </span>
          </span>
        </a>
        <a href="#" class="selected">
          <span class="mm-icon mm-icon-nudge-down">
            <span class="fa fa-list-alt"></span>
          </span>
        </a>
        <a href="#">
          <span class="mm-icon mm-icon-inverse">
            <span class="fa fa-asterisk"></span>
          </span>
        </a>
        <a href="#">
          <span class="mm-icon mm-icon-inverse">
            <span class="fa fa-bar-chart-o"></span>
            <span class="mm-badge-overlay">
              <span class="mm-badge mm-badge-red mm-badge-border mm-badge-nudge-right">5</span>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="row filters">
    <div class="inner">

      <span class="dropdown mm-dropdown slide-back">
        <span id="back" class="mm-button mm-button-disabled mm-button-nudge-down">
          <span class="mm-button-icon">
            <span class="fa fa-chevron-left"></span>
          </span>
          <span class="mm-button-text">
            Back
          </span>
        </span>
      </span>

      <span class="dropdown mm-dropdown">
        <span id="form_type" class="mm-button mm-button-nudge-down" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-list-alt"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">
            Antenatal Care Report
          </span>
        </span>
        <ul role="menu" aria-labelledby="report"
          class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">

          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Prenatal Care</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Antenatal Care</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Disease Surveillance</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Stock Monitoring</a>
          </li>
        </ul>
      </span>

      <span class="dropdown mm-dropdown">
        <span id="facility" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-hospital-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">
            Ganze Health Clinic
          </span>
        </span>
        <ul role="menu" aria-labelledby="facility"
          class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">

          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Chicago General Hospital</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Ganze Health Clinic</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Portland Intensive Care</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Toronto Urgent Care</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Zanzibar Health Post</a>
          </li>
        </ul>
      </span>

      <span class="dropdown mm-dropdown">
        <span id="date" class="mm-button" data-date="2014-02-02" data-date-format="yyyy-mm-dd">
          <span class="mm-button-icon">
            <span class="fa fa-calendar"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">
            2nd Feb, 2014
          </span>
        </span>
      </span>

      <span class="dropdown mm-dropdown">
        <span id="status" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-check-circle-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">
            Valid Only
          </span>
        </span>
        <ul role="menu" aria-labelledby="status"
          class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Any</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Valid</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">Invalid</a>
          </li>
        </ul>
      </span>
    </div>
  </div>

  <div class="row content">
    <div class="inner">
      <div class="inbox">
      <div class="col-sm-4 inbox-items">
        <ul>
          <li>
            <span class="time">1:12pm</span>
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa fa-check"></span>
            </span>
            <div class="detail">
              <div class="sender">
                <div class="name">Smith, Susan</div>
                <div class="position">Clinician, Ganze Clinic</div>
              </div>
              <div>New patient</div>
            </div>
          </li>
          <li class="selected">
            <span class="time">3:55pm</span>
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
              <span class="fa fa-exclamation"></span>
            </span>
            <div class="detail">
              <div class="sender">
                <div class="name">Smith, Susan</div>
                <div class="position">Clinician, Ganze Clinic</div>
              </div>
              <div>Birth Outcome Report</div>
            </div>
          </li>
          <li>
            <span class="time">2 Feb 2013</span>
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa"></span>
            </span>
            <div class="detail">
              <div class="sender">
                <div class="name">Rivers, Joan</div>
                <div class="position">Clinician, Ganze Clinic</div>
              </div>
              <div>Monthly Report</div>
            </div>
          </li>
          <li>
            <span class="time">1:12pm</span>
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa fa-check"></span>
            </span>
            <div class="detail">
              <div class="sender">
                <div class="name">Smith, Susan</div>
                <div class="position">Clinician, Ganze Clinic</div>
              </div>
              <div>New patient</div>
            </div>
          </li>
          <li>
            <span class="time">3:55pm</span>
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
              <span class="fa fa-exclamation"></span>
            </span>
            <div class="detail">
              <div class="sender">
                <div class="name">Smith, Susan</div>
                <div class="position">Clinician, Ganze Clinic</div>
              </div>
              <div>Birth Outcome Report</div>
            </div>
          </li>
          <li>
            <span class="time">2 Feb 2013</span>
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa"></span>
            </span>
            <div class="detail">
              <div class="sender">
                <div class="name">Rivers, Joan</div>
                <div class="position">Clinician, Ganze Clinic</div>
              </div>
              <div>Monthly Report</div>
            </div>
          </li>
          <li>
            <span class="time">1:12pm</span>
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa fa-check"></span>
            </span>
            <div class="detail">
              <div class="sender">
                <div class="name">Smith, Susan</div>
                <div class="position">Clinician, Ganze Clinic</div>
              </div>
              <div>New patient</div>
            </div>
          </li>
          <li>
            <span class="time">3:55pm</span>
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
              <span class="fa fa-exclamation"></span>
            </span>
            <div class="detail">
              <div class="sender">
                <div class="name">Smith, Susan</div>
                <div class="position">Clinician, Ganze Clinic</div>
              </div>
              <div>Birth Outcome Report</div>
            </div>
          </li>
          <li>
            <span class="time">2 Feb 2013</span>
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa"></span>
            </span>
            <div class="detail">
              <div class="sender">
                <div class="name">Rivers, Joan</div>
                <div class="position">Clinician, Ganze Clinic</div>
              </div>
              <div>Monthly Report</div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-sm-8 item-content incomplete">
        <div class="meta">
          <span class="time">12 March 2014</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
        </div>
        <div class="status">
          <span class="mm-badge mm-badge-round mm-badge-red">
            <span class="fa fa-exclamation"></span>
          </span>
        </div>
        <div class="body">
          <h2>Birth Outcome Report</h2>
          <ul>
            <li>
              <label>Patient ID</label>
              <p>548912254</p>
            </li>
            <li>
              <label>Days Since Delivery</label>
              <p>5</p>
            </li>
            <li class="missing">
              <label>Physician Present?</label>
              <p>Not Recorded</p>
            </li>
            <li>
              <label>Date of Delivery</label>
              <p>June 7<sup>th</sup>, 2014</p>
            </li>
            <li>
              <label>Misoprostol Administered?</label>
              <p>Yes</p>
            </li>
            <li>
              <label>Birth Outcome</label>
              <p>Alive and well</p>
            </li>
            <li>
              <label>Date Submitted</label>
              <p>June 12<sup>th</sup>, 2014</p>
            </li>
          </ul>
        </div>
        <div class="actions">
          <a class="mm-icon mm-icon-inverse mm-icon-caption" href="#">
            <span class="fa fa-mail-reply"></span>
            <p>Reply</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" href="#">
            <span class="fa fa-pencil"></span>
            <p>Edit</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" href="#">
            <span class="fa fa-check-circle-o"></span>
            <p>Verify</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
