<div class="container">
  <div class="row header">
    <div class="logo">
      logo
    </div>
    <div class="welcome">
      <div class="title">
        INBOX
      </div>
      <div class="user">
        Welcome John
      </div>
    </div>
    <div class="extras">
      <a href="#">
        <div class="mm-icon mm-icon-inverse">
          <span class="fa fa-edit"></span>
        </div>
      </a>
      <a href="#">
        <div class="mm-icon mm-icon-inverse">
          <span class="fa fa-search"></span>
        </div>
      </a>
    </div>
    <div class="tabs">
      <a href="#">
        <div class="mm-icon mm-icon-inverse">
          <span class="fa fa-envelope"></span>
        </div>
      </a>
      <a href="#" class="selected">
        <div class="mm-icon">
          <span class="fa fa-list-alt"></span>
        </div>
      </a>
      <a href="#">
        <div class="mm-icon mm-icon-inverse">
          <span class="fa fa-asterisk"></span>
        </div>
      </a>
    </div>
  </div>
  <div class="row filters">
    filters
  </div>
  <div class="row content">
    <div class="col-sm-4 inbox-items">
      <ul>
        <li>
          <span class="time">1:12pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa fa-check"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>New patient</div>
          </div>
        </li>
        <li class="selected">
          <span class="time">3:55pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
              <span class="fa fa-exclamation"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Birth Outcome Report</div>
          </div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Rivers, Joan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Monthly Report</div>
          </div>
        </li>
        <li>
          <span class="time">1:12pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa fa-check"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>New patient</div>
          </div>
        </li>
        <li>
          <span class="time">3:55pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
              <span class="fa fa-exclamation"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Birth Outcome Report</div>
          </div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Rivers, Joan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Monthly Report</div>
          </div>
        </li>
        <li>
          <span class="time">1:12pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa fa-check"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>New patient</div>
          </div>
        </li>
        <li>
          <span class="time">3:55pm</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
              <span class="fa fa-exclamation"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Smith, Susan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Birth Outcome Report</div>
          </div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="mm-badge-container">
            <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
              <span class="fa"></span>
            </span>
          </div>
          <div class="detail">
            <div class="sender">
              <div class="name">Rivers, Joan</div>
              <div class="position">Clinician, Ganze Clinic</div>
            </div>
            <div>Monthly Report</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 item-content incomplete">
      <div class="meta">
        <span class="time">12 March 2014</span>
        <div class="sender">
          <div class="name">Smith, Susan</div>
          <div class="position">Clinician, Ganze Clinic</div>
        </div>
      </div>
      <div class="mm-badge-container">
        <span class="mm-badge mm-badge-round mm-badge-red">
          <span class="fa fa-exclamation"></span>
        </span>
      </div>
      <div class="body">
        <h2>Birth Outcome Report</h2>
        <ul>
          <li>
            <label>Patient ID</label>
            <p>548912254</p>
          </li>
          <li>
            <label>Days Since Delivery</label>
            <p>5</p>
          </li>
          <li class="missing">
            <label>Outcome Of Baby</label>
          </li>
        </ul>
      </div>
      <div class="actions">
        <a href="#">Reply</a>
        <a href="#">Edit</a>
        <a href="#">Verify</a>
      </div>
    </div>
  </div>
</div>
