<div class="container">
  <div class="row header">
    tabs
  </div>
  <div class="row filters">
    filters
  </div>
  <div class="row content">
    <div class="col-sm-4 inbox-items">
      <ul>
        <li>
          <span class="time">1:12pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>New patient</div>
        </li>
        <li>
          <span class="time">3:55pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Birth Outcome Report</div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="sender">
            <div class="name">Rivers, Joan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Monthly Report</div>
        </li>
        <li>
          <span class="time">1:12pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>New patient</div>
        </li>
        <li>
          <span class="time">3:55pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Birth Outcome Report</div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="sender">
            <div class="name">Rivers, Joan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Monthly Report</div>
        </li>
        <li>
          <span class="time">1:12pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>New patient</div>
        </li>
        <li>
          <span class="time">3:55pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Birth Outcome Report</div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="sender">
            <div class="name">Rivers, Joan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Monthly Report</div>
        </li>
        <li>
          <span class="time">1:12pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>New patient</div>
        </li>
        <li>
          <span class="time">3:55pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Birth Outcome Report</div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="sender">
            <div class="name">Rivers, Joan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Monthly Report</div>
        </li>
        <li>
          <span class="time">1:12pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>New patient</div>
        </li>
        <li>
          <span class="time">3:55pm</span>
          <div class="sender">
            <div class="name">Smith, Susan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Birth Outcome Report</div>
        </li>
        <li>
          <span class="time">2 Feb 2013</span>
          <div class="sender">
            <div class="name">Rivers, Joan</div>
            <div class="position">Clinician, Ganze Clinic</div>
          </div>
          <div>Monthly Report</div>
        </li>
      </ul>
    </div>
    <div class="col-sm-8 item-content">
      <div class="meta">
        <span class="time">12 March 2014</span>
        <div class="sender">
          <div class="name">Smith, Susan</div>
          <div class="position">Clinician, Ganze Clinic</div>
        </div>
      </div>
      <div class="body">
        <h2>Birth Outcome Report</h2>
        <ul>
          <li>
            <label>Patient ID</label>
            <p>548912254</p>
          </li>
          <li>
            <label>Days Since Delivery</label>
            <p>5</p>
          </li>
          <li class="missing">
            <label>Outcome Of Baby</label>
          </li>
        </ul>
      </div>
      <div class="actions">
        <a href="#">Reply</a>
        <a href="#">Edit</a>
        <a href="#">Verify</a>
      </div>
    </div>
  </div>
</div>