<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/kujua-visual.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700"/>
    <title>Kujua Visual Layer Components</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>

<!-- vim: set sw=2: -->
