
<div class="prototype" style="padding: 2em;">
<div style="width: 75em;">

  <div style="float: left; width: 5em;">
    <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
      <span class="fa fa-check"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
      <span class="fa fa-exclamation"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
      <span class="fa fa-star"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red mm-badge-raise">
      <span class="fa fa-warning"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
      <span class="fa fa-check"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red mm-badge-raise">
      <span class="fa fa-times"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-border mm-badge-green">
      <span class="fa"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-border mm-badge-red">
      <span class="fa"></span>
    </span>
  </div>

  <div style="font-size: 1.5em; float: left; width: 4em;">
    <span class="mm-badge mm-badge-round mm-badge-green">
      <span class="fa fa-check"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-red">
      <span class="fa fa-exclamation"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-green">
      <span class="fa fa-star"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-red mm-badge-raise">
      <span class="fa fa-warning"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-green">
      <span class="fa fa-check"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-red mm-badge-raise">
      <span class="fa fa-times"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-green">
      <span class="fa"></span>
    </span>

    <span class="mm-badge mm-badge-round mm-badge-red">
      <span class="fa"></span>
    </span>
  </div>

  <div style="font-size: 0.7em; float: left; width: 10em;">
    <span class="mm-badge mm-badge-red mm-badge-border">1</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">5</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">84</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">405</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">2,048</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">1,048,576</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">4,294,967,295</span>
    <br />
  </div>

  <div style="float: left; width: 10em;">
    <span class="mm-badge mm-badge-red mm-badge-border">1</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">5</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">84</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">405</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">2,048</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">1,048,576</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">4,294,967,295</span>
  </div>

  <div style="font-weight: bold; font-size: 1.3em; float: left; width: 12em;">
    <span class="mm-badge mm-badge-red mm-badge-border">1</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">5</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">84</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">405</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">2,048</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">1,048,576</span>
    <br />
    <span class="mm-badge mm-badge-red mm-badge-border">4,294,967,295</span>
  </div>

  <div style="float: left; width:450px;">

    <span class="dropdown mm-dropdown">
      <span id="d1" class="mm-button mm-button-nudge-down" data-toggle="dropdown">
        <span class="mm-button-icon">
          <span class="fa fa-list-alt"></span>
        </span>
        <span class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </span>
        <span class="mm-button-text">
          Antenatal Care Report
        </span>
      </span>

      <ul role="menu" aria-labelledby="d1"
        class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Prenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Antenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Disease Surveillance</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Stock Monitoring</a>
        </li>
      </ul>
    </span>

    <span class="mm-button mm-button-disabled">
      <span class="mm-button-icon">
        <span class="fa fa-calendar"></span>
      </span>
      <span class="mm-button-dropdown">
        <span class="fa fa-chevron-down"></span>
      </span>
      <span class="mm-button-text">
        May 1<sup>st</sup> &mdash; May 28<sup>th</sup>, 2014
      </span>
    </span>

    <span class="mm-button mm-button-disabled">
      <span class="mm-button-icon">
        <span class="fa fa-medkit"></span>
      </span>
      <span class="mm-button-dropdown">
        <span class="fa fa-chevron-down"></span>
      </span>
      <span class="mm-button-text">
        August 1<sup>st</sup> &mdash; September 29<sup>th</sup>, 2014
      </span>
    </span>

    <span class="mm-button mm-button-disabled mm-button-nudge-down">
      <span class="mm-button-icon">
        <span class="fa fa-navicon"></span>
      </span>
      <span class="mm-button-dropdown">
        <span class="fa fa-chevron-down"></span>
      </span>
      <span class="mm-button-text">
        Patient Registration Form
      </span>
    </span>

    <span class="mm-button mm-button-disabled">
      <span class="mm-button-icon">
        <span class="fa fa-home"></span>
      </span>
      <span class="mm-button-dropdown">
        <span class="fa fa-chevron-down"></span>
      </span>
      <span class="mm-button-text">
        Ganze Health Clinic
      </span>
    </span>
  </div>

  <div class="clear" style="padding: 2em 0;">
  </div>

  <div style="float: left; font-size: 2.65em; width: 75px; text-align: center;">
    <span class="mm-icon">
      <span class="mm-icon-overlay mm-icon-overlay-before fa fa-mail-forward"></span>
      <span class="fa fa-envelope"></span>
    </span>
    <br/>
    <span class="mm-icon">
      <span class="fa fa-calendar"></span>
      <span class="mm-badge-overlay">
        <span class="mm-badge mm-badge-red mm-badge-border">84</span>
      </span>
    </span>
    <br/>
    <span class="mm-icon">
      <span class="fa fa-th-list"></span>
    </span>
    <br/>
    <span class="mm-icon">
      <span class="fa fa-hospital-o"></span>
      <span class="mm-icon-overlay fa fa-exclamation-circle"></span>
    </span>
  </div>

  <div class="mm-icon-container mm-inverse-box" style="float: left; font-size: 2.65em; width: 75px; text-align: center;">
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-envelope"></span>
    </span>
    <br/>
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-calendar"></span>
      <span class="mm-icon-overlay fa fa-mail-forward"></span>
    </span>
    <br/>
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-th-list"></span>
    </span>
    <br/>
    <span class="mm-icon mm-icon-inverse">
      <span class="mm-icon-overlay mm-icon-overlay-before fa fa-exclamation-circle"></span>
      <span class="fa fa-hospital-o"></span>
    </span>
  </div>

  <div class="float-separator"></div>

  <div class="mm-icon-container" style="float: left; font-size: 2.65em; width: 75px; text-align: center;">
    <span class="mm-icon">
      <span class="fa fa-list-alt"></span>
      <span class="mm-icon-overlay fa fa-mail-reply"></span>
    </span>
    <br/>
    <span class="mm-icon">
      <span class="fa fa-list-ul"></span>
    </span>
    <br/>
    <span class="mm-icon">
      <span class="fa fa-edit"></span>
    </span>
    <br/>
    <span class="mm-icon">
      <span class="fa fa-check-circle"></span>
    </span>
  </div>

  <div class="mm-icon-container mm-inverse-box" style="float: left; font-size: 2.65em; width: 75px; text-align: center;">
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-list-alt"></span>
      <span class="mm-badge-overlay mm-badge-overlay-top">
        <span class="mm-badge mm-badge-red mm-badge-border">5</span>
      </span>
    </span>
    <br />
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-list-ul"></span>
      <span class="mm-badge-overlay">
        <span class="mm-badge mm-badge-red mm-badge-border">405</span>
      </span>
    </span>
    <br />
    <span class="mm-icon mm-icon-inverse">
      <span class="mm-icon-overlay mm-icon-overlay-before fa fa-check-circle-o"></span>
      <span class="fa fa-edit"></span>
    </span>
    <br />
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-check-circle"></span>
    </span>
  </div>

  <div class="float-separator"></div>
  <div class="mm-icon-container" style="float: left; font-size: 1.5em; width: 75px; text-align: center;">
    <span class="mm-icon">
      <span class="fa fa-envelope"></span>
    </span>
    <br />
    <span class="mm-icon">
      <span class="fa fa-calendar"></span>
    </span>
    <br />
    <span class="mm-icon">
      <span class="fa fa-th-list"></span>
    </span>
    <br />
    <span class="mm-icon">
      <span class="fa fa-hospital-o"></span>
    </span>
  </div>

  <div class="mm-icon-container mm-inverse-box" style="float: left; font-size: 1.5em; width: 75px; text-align: center;">
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-envelope"></span>
      <span class="mm-badge-overlay">
        <span class="mm-badge mm-badge-red mm-badge-border">2050</span>
      </span>
    </span>
    <br />
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-calendar"></span>
    </span>
    <br />
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-th-list"></span>
    </span>
    <br />
    <span class="mm-icon mm-icon-inverse">
      <span class="mm-icon-overlay mm-icon-overlay-before fa fa-exclamation-circle"></span>
      <span class="fa fa-hospital-o"></span>
    </span>
  </div>

  <div class="float-separator"></div>

  <div class="mm-icon-container" style="float: left; width: 50px; text-align: center;">
    <span class="mm-icon">
      <span class="fa fa-list-alt"></span>
    </span>
    <br />
    <span class="mm-icon">
      <span class="mm-icon-overlay mm-icon-overlay-before fa fa-mail-forward"></span>
      <span class="fa fa-list-ul"></span>
    </span>
    <br />
    <span class="mm-icon">
      <span class="fa fa-edit"></span>
    </span>
    <br />
    <span class="mm-icon">
      <span class="fa fa-check-circle"></span>
    </span>
  </div>

  <div class="mm-icon-container mm-inverse-box" style="float: left; width: 50px; text-align: center;">
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-list-alt"></span>
    </span>
    <br />
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-list-ul"></span>
    </span>
    <br />
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-edit"></span>
    </span>
    <br />
    <span class="mm-icon mm-icon-inverse">
      <span class="fa fa-check-circle"></span>
    </span>
  </div>

  <div class="float-separator" style="width: 6em;"></div>

  <div class="mm-inverse-box" style="float: left; padding: 1em; width:450px;">

    <span class="dropdown mm-dropdown">

      <span id="d2" class="mm-button mm-button-inverse mm-button-nudge-down" data-toggle="dropdown">
        <span class="mm-button-icon">
          <span class="fa fa-list-alt"></span>
        </span>
        <span class="mm-button-dropdown">
          <span class="fa fa-chevron-down"></span>
        </span>
        <span class="mm-button-text">
          Antenatal Care Report
        </span>
      </span>

      <ul role="menu" aria-labelledby="d2" class="dropdown-menu mm-dropdown-menu">

        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Prenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Antenatal Care</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Disease Surveillance</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">Stock Monitoring</a>
        </li>
      </ul>
    </span>

    <span class="mm-button mm-button-inverse mm-button-disabled">
      <span class="mm-button-icon">
        <span class="fa fa-calendar"></span>
      </span>
      <span class="mm-button-dropdown">
        <span class="fa fa-chevron-down"></span>
      </span>
      <span class="mm-button-text">
        May 1<sup>st</sup> &mdash; May 28<sup>th</sup>, 2014
      </span>
    </span>

    <span class="mm-button mm-button-inverse mm-button-disabled">
      <span class="mm-button-icon">
        <span class="fa fa-medkit"></span>
      </span>
      <span class="mm-button-dropdown">
        <span class="fa fa-chevron-down"></span>
      </span>
      <span class="mm-button-text">
        August 1<sup>st</sup> &mdash; September 29<sup>th</sup>, 2014
      </span>
    </span>

    <span class="mm-button mm-button-inverse mm-button-disabled mm-button-nudge-down">
      <span class="mm-button-icon">
        <span class="fa fa-navicon"></span>
      </span>
      <span class="mm-button-dropdown">
        <span class="fa fa-chevron-down"></span>
      </span>
      <span class="mm-button-text">
        Patient Registration Form
      </span>
    </span>

    <span class="mm-button mm-button-inverse mm-button-disabled">
      <span class="mm-button-icon">
        <span class="fa fa-home"></span>
      </span>
      <span class="mm-button-dropdown">
        <span class="fa fa-chevron-down"></span>
      </span>
      <span class="mm-button-text">
        Ganze Health Clinic
      </span>
    </span>
  </div>

</div>
</div>

<script language="javascript">
  jQuery(function ($) {
    $('#d1').dropdown();
    $('#d2').dropdown();
  });
</script>

<!-- vim: set sw=2: -->
