
html, body {
  height: 100%;
}

.app {
  height: 100%;
  width: 100%;
  font-size: 12pt;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Lato';
  background: url('../images/texture.png');
  background: image-set(
    url('../images/texture.png') 1x,
    url('../images/texture-hires.png') 2x
  ); 
  background: -webkit-image-set( 
    url('../images/texture.png') 1x, 
    url('../images/texture-hires.png') 2x 
  ); 
}

.float-separator {
  float: left;
  width: 2em;
  height: 1em;
  clear: none;
}

.clear {
  clear: both;
}


/**
 * @name k-badge:
 */
.k-badge-container, .k-button-container, .k-icon-container {
  padding: 0.5em;
}

.k-badge-border {
  padding-top: 0.45em;
  padding-bottom: 0.45em;
}

.k-badge {
  color: #fff;
  text-align: center;
  border-radius: 10em;
  padding: 0.25em 0.6em 0.25em 0.6em;
  vertical-align: top;
}
  
.k-badge-border {
  border: solid 0.2em #fff;
}

body .k-badge-round {
  padding-left: 0;
  padding-right: 0;
}

.k-badge-round span {
  width: 1.8em;
}

.k-badge-raise span {
  line-height: 1.4em;
  vertical-align: top;
}

.k-badge-red {
  background-color: rgb(218, 69, 72);
}

.k-badge-green {
  background-color: rgb(160, 186, 98);
}


/**
 * @name k-button:
 */
.k-button {
  border-radius: 2em;
  min-height: 3em;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.k-button-inverse {
  border: solid 1px rgba(255, 255, 255, 0.2);
  box-shadow: rgba(255, 255, 255, 0.2) 2px 2px 2px;
}

.k-button-dropdown {
  color: #333;
  float: right;
  font-size: 0.95em;
  padding: 0.8em 1em 0 1.25em;
  cursor: pointer;
}

.k-button-inverse .k-button-dropdown {
  color: #ccc;
}

.k-button-icon {
  float: left;
  color: #222;
  font-size: 1.5em;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  padding: 0.22em 0.75em 0.22em 0.75em;
}

.k-button-inverse .k-button-icon {
  color: #ccc;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

.k-button-text {
  color: #222;
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
}

.k-button-inverse .k-button-text {
  color: #bbb;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
}

span.k-button-text {
  line-height: 3.2em;
  vertical-align: middle;
}

div.k-button-text {
  margin: 0.85em 0 0 0;
}

body .k-button-lower .k-button-icon {
  padding-top: 0.28em;
}


/**
 * @name k-icon:
 */

.k-icon {
  width: 1em;
  color: #333;
  cursor: pointer;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px;
}

body .k-icon-inverse {
  color: #ddd;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

.k-icon-overlay {
  width: 0;
  height: 0;
  z-index: 100;
  font-size: 0.65em;
  display: block;
  overflow: visible;
  position: relative;
  text-shadow:
    -1px 0 rgba(255, 255, 255, 0.5), 0 1px rgba(255, 255, 255, 0.5),
    1px 0 rgba(255, 255, 255, 0.5), 0 -1px rgba(255, 255, 255, 0.5);
}

body .k-icon-inverse .k-icon-overlay {
  text-shadow:
    -1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5),
    1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
}

.k-icon-overlay, .k-icon-overlay-after {
  top: -1em;
  left: 0.75em;
}

body .k-icon-overlay-before {
  top: 1em;
  left: 0.75em;
}


/**
 * @name k-inverse-box:
 */

.k-inverse-box {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.15em;
}

/* vim: set sw=2: */
