
html, body {
  height: 100%;
}

.app {
  height: 100%;
  width: 100%;
  font-size: 11pt;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Lato';
  background: url('../images/texture.png');
  background: image-set(
    url('../images/texture.png') 1x,
    url('../images/texture-hires.png') 2x
  ); 
  background: -webkit-image-set( 
    url('../images/texture.png') 1x, 
    url('../images/texture-hires.png') 2x 
  ); 
}

.float-separator {
  float: left;
  width: 2em;
  height: 1em;
  clear: none;
}

.clear {
  clear: both;
}


/**
 * @name mm-badge:
 */
.mm-badge-container, .mm-button-container, .mm-icon-container {
  padding: 0.5em;
}

.mm-badge-border {
  padding-top: 0.45em;
  padding-bottom: 0.45em;
}

.mm-badge {
  color: #fff;
  text-align: center;
  border-radius: 10em;
  padding: 0.25em 0.6em 0.25em 0.6em;
  vertical-align: top;
}
  
.mm-badge-border {
  border: solid 0.2em #fff;
}

body .mm-badge-round {
  padding-left: 0;
  padding-right: 0;
}

.mm-badge-round span {
  width: 1.8em;
}

.mm-badge-raise span {
  line-height: 1.4em;
  vertical-align: top;
}

.mm-badge-red {
  background-color: rgb(218, 69, 72);
}

.mm-badge-green {
  background-color: rgb(160, 186, 98);
}


/**
 * @name mm-button:
 */
.mm-button {
  width: 100%;
  cursor: pointer;
  min-height: 3em;
  border-radius: 2em;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.mm-button-inverse {
  border: solid 1px rgba(255, 255, 255, 0.3);
  box-shadow: rgba(255, 255, 255, 0.2) 2px 2px 2px;
}

.mm-button-dropdown {
  color: #333;
  float: right;
  font-size: 0.95em;
  padding: 0.8em 1em 0 1.25em;
  cursor: pointer;
}

.mm-button-inverse .mm-button-dropdown {
  color: #eee;
}

.mm-button-icon {
  float: left;
  color: #222;
  font-size: 1.5em;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
  padding: 0.22em 0.75em 0.22em 0.75em;
}

.mm-button-inverse .mm-button-icon {
  color: #eee;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

.mm-button-text {
  color: #222;
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 1px;
}

.mm-button-inverse .mm-button-text {
  color: #eee;
  text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px;
}

span.mm-button-text {
  line-height: 3.2em;
  vertical-align: middle;
}

div.mm-button-text {
  margin: 0.85em 0 0 0;
}

body .mm-button-nudge .mm-button-icon {
  padding-top: 0.28em;
}


/**
 * @name mm-icon:
 */

.mm-icon {
  width: 1em;
  color: #333;
  cursor: pointer;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px;
}

body .mm-icon-inverse {
  color: #ddd;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}

.mm-icon-overlay {
  width: 0;
  height: 0;
  z-index: 100;
  font-size: 0.65em;
  display: block;
  overflow: visible;
  position: relative;
  text-shadow:
    -1px 0 rgba(255, 255, 255, 0.5), 0 1px rgba(255, 255, 255, 0.5),
    1px 0 rgba(255, 255, 255, 0.5), 0 -1px rgba(255, 255, 255, 0.5);
}

body .mm-icon-inverse .mm-icon-overlay {
  text-shadow:
    -1px 0 rgba(0, 0, 0, 0.5), 0 1px rgba(0, 0, 0, 0.5),
    1px 0 rgba(0, 0, 0, 0.5), 0 -1px rgba(0, 0, 0, 0.5);
}

.mm-icon-overlay, .mm-icon-overlay-after {
  top: -1em;
  left: 0.75em;
}

body .mm-icon-overlay-before {
  top: 1.15em;
  left: 0.75em;
}

.mm-icon-overlay-nudge {
  line-height: 0.65em;
}

.mm-icon-overlay-nudge-right {
  padding-left: 0.25em;
}


/**
 * @name mm-inverse-box:
 */

.mm-inverse-box {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10pt;
}

.row.header {
  background-color: #494949;
  height: 80px;
}

.row.filters {
  background-color: #E0D7AB;
  height: 60px;
}

.container {
  background-color: #F2F2F3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.row.content {
  top: 140px;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.inbox-items, .item-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.inbox-items {
  padding: 0;
}

.inbox-items li {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
  cursor: pointer;
}

.inbox-items li:last-child {
  border-bottom: none;
}

.item-content {
  padding: 1em;
}

.item-content .meta {
  padding: 1em 2em 2em;
}

.item-content .body {
  background-color: #FFF;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  padding-bottom: 4em;
}

.item-content .body h2 {
  margin: 1em;
  text-align: center;
}

.item-content .body li {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 3em;
}

.item-content .body li:last-child {
  border-bottom: none;
}

.item-content .body label {
  display: block;
  margin: 0;
  font-weight: normal;
  font-style: italic;
  color: #777;
}

.item-content .body p {
  font-weight: bold;
  font-size: 1.4em;
  margin: 0;
}

.item-content .actions {
  width: 60%;
  height: 6em;
  background-color: #4A4A4A;
  margin: -3em auto 5em;
  text-align: center;
}

.item-content .actions a {
  width: 30%;
  display: inline-block;
  line-height: 6em;
}

.time {
  float: right;
}

.sender .position {
  color: #777;
  font-size: .8em;
}

.sender .name {
  font-weight: bold;
}

/* vim: set sw=2: */
