@option-color: #e0d7ab;
@medic-slate-color: #494949;
@highlight-color: #d8ecf1;
@seperator-color: #e0e0e0;
@background-color: #f2f2f3;
@form-background-color: #ffffff;
@label-color: #777777;
@error-color: #e74d4e;